/* Resetando alguns estilos padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo fonte padrão e cor de fundo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Estilos para o cabeçalho */
.site-header {
    background-color: #3a3a3a;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.nav-image {
    display: flex;
    align-items: center;
}

.nav-image img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-item {
    margin: 0 10px;
    padding: 10px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #332a13;
}

.main-content {
    padding: 20px;
    background-color: #fff;
}

h2 {
    color: #333;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical;
    min-height: 100px;
}

.contact-form .submit-btn {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form .submit-btn:hover {
    background-color: #4cae4c;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}